html {
  scroll-behavior: smooth;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 40px;
}

#main-doc {
  display: flex;
  flex-direction: column
}

/*============== Navbar ================*/
#navbar {
  width: 100%;
  height: 20%;
  position: fixed;
  background-color: #36B393;
  /* padding: 20px; */
  text-align: center;
  overflow: scroll;
}

#navbar header {
  color: #000;
  font-size: 35px;
}

#navbar ul {
  padding: 0;
  font-size: 25px;
}

#navbar ul li {
  color: #000;
  margin-bottom: 5px;
  list-style: none;
  width: 100%;
}

#navbar ul li a {
  color: #000000;

  cursor: pointer;
}


body::-webkit-scrollbar {
  width: 1em;
  height: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #36B393;
  outline: 1px solid #36B393;
  height: 5px;
}

/*================= Main Content ==================*/
.content {
  margin: 0 20px 20px;
}

.main-section {
  min-height: 100vh;
  width: 100%;
  /* border-bottom: 2px dashed red; */
}

.main-section header {
  font-size: 30px;
  padding-top: 30px;
}

.main-section ul li,
.main-section ol li {
  margin-bottom: 15px
}

.main-section .border {
  border-left: 5px solid #36B393;
  /* border-right: 5px solid #36B393; */
  padding: 0 1rem;
  /* padding-left: 2rem; */
}



section header {
  /* border-bottom:2px solid #36B393; */
  text-decoration: underline;
  color: #36B393;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

section header p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: red;
}


h2,
h1 {
  color:
    #00252e;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.main-section p {
  font-weight: normal;
}

.output {
  color: #36B393;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1d1f1d;
  margin-bottom: 2rem;
}

.title{
  margin-top:1rem;
  margin-bottom: 1rem;
}

.buttons{
  margin:1rem 0;
  gap:40px;
  
}

.buttons button{
  color:white;
  background-color: #36B393;
  padding:7px 20px;
  border:none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

/* footer css */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1f1d;
  height: 15vh; 
}

.footer-inner{
  display: flex;
  justify-content: flex-end;
  align-items:center ;
  width:80%;
  gap:40px;
}

.footer-inner .owner h4{
  color:#36B393;
  font-family: Dosis, sans-serif;
  font-weight: 400;
}
.footer-inner .owner h4:hover{
  color:white ;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.owner h4 a{
  text-decoration:none;
  color:white;
}

.owner h4 a:hover{
  color:#36B393;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.social-links a{
  border-radius:50%;
  width:3rem;
  height:3rem;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s ease-out;
  object-fit: cover;
  color:#36B393;
  
}

.social-links a img{
  padding:.5rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #36B393;
}

.social-links i{
  font-size: 30px;
  margin-right:10px;
  color:#36B393;
}

.social-links a img:hover{
   /* color:#498afb; */
  border:1px solid white ; 
  background-color: white ;
  cursor: pointer;
  transition: .3s ease-out;
}

/* foooter css end */



/*============== Media query ================*/
@media(min-width: 900px) {
  #main-doc {
    flex-direction: row;
  }

  #navbar {
    width: 250px;
    height: 100vh;
    background-color: #36B393;
    margin-top: 0;
    text-align: left;
    position: fixed;
    padding: 0;
  }


  #navbar header,
  #navbar ul {
    padding-left: 40px;
  }

  #navbar header {
    color: #ddd;
    /* padding-left: 40px;
      padding-top: 30px;
      padding-bottom: 30px; */
    background-color: #1d1f1d;
  }

  #navbar ul li {
    padding-top: 15px;
    border-bottom:2px solid white;
  }
  #navbar ul li.active{
    border-bottom:0;
  }



  #navbar ul li a:hover{
    color:white;
    transition: 0.3s ease-out;
  }

  .content {
    margin-left: 350px;
  }


}

@media screen and (max-width:480px) {
  .content{
    margin-top: 10rem;
  }

  .footer-inner{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center ;
    width:100%;
    gap:15px;
  }

  .main-section header {
    margin-top:20px;
  }
  
}