@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* background-color: #353836; */
    /* background-color:#2b3a42 ; */
    /* color:white; */
    font-family:"Poppins" , sans-serif;
}
body::-webkit-scrollbar {
    width: 1em;
    height:1rem;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #36B393;
    outline: 1px solid #36B393;
    height: 5px;
  }



header a{
    text-decoration: none;
}

header{
    padding: 0 40px;
    background-color: #1d1f1d;
    /* background-color:#1DE9B6; */
    /* background-color: #2b3a42 ; */
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.brand{
    width: 70px;
    object-fit:cover;
    height: 70px;

}

.brand img{
    width: 100%;
    height: 100%;
}



nav{
    display: flex;
    justify-content:center;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

ul a{
    color:#36B393;
}

ul li{
    padding:5px;
    margin-left:10px;
}

ul li:hover{
    transform:scale(1.1);
    transition: 0.3s;
}


#hamburger-icon{
    margin:auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div{
    width:35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile-menu{
    display: none;
    position: absolute;
    top:50px;
    left: 0;
    height: calc(30vh - 50px);
    opacity: 0.5;
    width: 100%;
    background-color: #1d1f1d;

   
}



.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 
  }
  
  .mobile-menu li {
    margin-bottom: 10px;

  }



  /* search bar */
  ::selection{
    color: #fff;
    background: #664AFF;
  }
  .search-box{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box.active{
    width: 350px;
  }
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box input.active{
    opacity: 1;
  }
  .search-box input::placeholder{
    color: #a6a6a6;
  }
  .search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color: #36B393;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: #36B393;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
  }
  .search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .cancel-icon.active{
    right: -20px;
    transform: translateY(-50%) rotate(360deg);
  }
  .search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
  }
  .search-box .search-data.active{
    display: none;
    
  }
  /* search bar end */

  /* info part */
  .info{
      display: flex;
      justify-content: center;
      align-items: center;
    margin-top: 20px;
      margin-bottom:20px;
  }

  .info .info-inner{
      display: flex;
      justify-content:space-between;
      align-items: center;
      /* background-color: grey; */
      flex-direction: row;
  } 



  .info-inner .img{
      height: 40%;
      flex: 1;
  }

  .info-inner .text{
      flex:1;
      /* background-color: red; */
      text-align: center;
      padding:0 10px;
  }

  .text h2{
      margin-top: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      margin-bottom:35px;
      line-height: 44px;
      font-size:40px;
      font-weight: 500;
      color:#36B393;
  }
.text p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size:20px;
    font-weight: 450;
    margin-bottom:20px;
    color:#36B393;

}
.text button{
    padding:8px 20px;
    font-weight: bold;
    background-color: #36B393;
    border:none;
    color:white;
    cursor: pointer;
}

  .img img{
      height: 100%;
      width: 100%;
  }

  /* info part end */

  /* courses */

.courses{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    padding:40px 0;

}
  .courses-inner{
      max-width: 100%;
      width:90%;
      display: grid;
      grid-template-columns:repeat(1, 1fr);
      grid-gap:50px;
      /* background-color: grey; */
      /* border:2px solid greenyellow; */
  }
  .course{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      /* border:2px solid grey; */
      box-shadow: 0px -5px 18px 5px rgba(0,0,0,0.22);
      -webkit-box-shadow: 0px -5px 18px 5px rgba(0,0,0,0.22);
      -moz-box-shadow: 0px -5px 18px 5px rgba(0,0,0,0.22);
  }
  .course-img{
      
      object-fit: cover;
      flex:1;
  }

  .course-img img{
      height: 100%;
      width:100%;
  }

  .course-text{
      /* background-color: #36B393; */
      padding:20px 30px;
      text-align: center;
      flex: 1;
  }

  .course-text h2{
      margin-bottom:10px;
      text-transform: uppercase;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
   
      line-height: 44px;
      font-size:30px;
      font-weight: 500;
      color:#36B393;

  }
  .course-text p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size:20px;
    font-weight: 450;
    color: #36B393;
  }

  .course-text button{
    margin-top:20px;
    padding:5px 15px;
    background-color: #36B393;
    border:none;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
  }

  .course-text button a{
      text-transform:uppercase;
      text-decoration: none;
      color:white;
  }

  /* course end */

  /* footer part */
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1f1d;
    height: 15vh;
    
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width:80%;
    
}


.footer-inner .owner h4{
    color:#36B393;
    font-family: Dosis, sans-serif;
    font-weight: 400;
}
.footer-inner .owner h4:hover{
    color:white ;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.owner h4 a{
    text-decoration:none;
    color:white;
}

.owner h4 a:hover{
    color:#36B393;
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}

.social-links{
    /* margin-left:2rem; */
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}


/* .social-links .social-icon{
    margin-right:5px;
    padding:.5rem;
    border-radius:50%;
    border:1px solid white;
} */

.social-links a{
    border-radius:50%;
    width:3rem;
    height:3rem;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease-out;
    object-fit: cover;
    color:#36B393;
    
}

.social-links a img{
    padding:.5rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #36B393;
}

.social-links i{
    font-size: 30px;
    margin-right:10px;
    color:#36B393;
}

.social-links a img:hover{
     /* color:#498afb; */
    border:1px solid white ; 
    background-color: white ;
    cursor: pointer;
    transition: .3s ease-out;
}

  /* footer part end */


@media only screen and (max-width:600px){
    header nav{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    .info .info-inner{
        display: block;
    }

    .courses-inner{
        grid-gap:70px;
    }

    .course{
        display:block;
    }

    .course-img{
        height: 200px;
    }
    

    .footer-inner{
        flex-direction: column;
    }

    .social-links{
        margin-right:0;
        margin-top:15px;
        align-items: center;
    }

    .social-links a{
        margin-right:10px;
    }

  

}

/* coded by Rankush */