* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10rem;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dddddd;
    overflow:scroll;
    padding: 20px 10px;
}

.flex {
    display: flex;
    gap: 1rem;
    margin-bottom:2rem;
    justify-content: space-between;
}
.flex h1{
    font-size: 2.3rem;
    color: #2c3e50;
}
.flex h5 a{
    text-transform: uppercase;
    color: #2c3e50;
    cursor: pointer;
}

.searchbar{
margin-top:5rem;

}
.searchbar input{
    font-size:1rem;
    padding:5px;
    width: 100%;
    outline: none;
    border: none;
}

.topics{
    margin-top: 2rem;
}
.topics ul{
    list-style: none;
}
.topics ul li {
    background-color:white;
    margin-top:5px;
}


.topics ul li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    cursor: pointer;
   
    display: block;
  }

  .topics ul li a:hover{
    background-color:#2c3e50;
    color:white;
    transition: .3s ease-out;
  }

ul li a.active{
    background-color:#2c3e50;

    color:white;
  }

  /* .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  } */
  
  /* Style the active class, and buttons on mouse-over */
  /* .active, .btn:hover {
    background-color: #666;
    color: white;
  } */



.main-content {
    /* margin-top: 2rem; */
    margin-left: 240px;
    line-height: 1.5rem;
    color: black;
    padding: 1rem 2rem 1rem 5rem;
}