@import url('https://fonts.googleapis.com/css2?family=Inter&family=Overpass:ital,wght@1,600&family=Roboto:wght@100;300&display=swap');


* {
    font-family: arial;
    line-height: 1.7rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.one{
    line-height: 1.5rem;
}

.one h2 {
    line-height: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 30px;
}

.one hr {
    color: azure;
    opacity: .4;

}

.one p {
    margin-top: 1rem;
    line-height: 28px;
}

.one ul {
    margin-top: 1rem;
}

.one ul li {
        line-height: 1.8rem;
        margin:1rem 0 1rem 15px;
}

.one ol li .highlight {
    color: #ffa500;
}

.one p .highlight,
.one ul li span {
    color: #ffa500;
}

.one h2 {
    margin-top: 1.5rem;
    margin-bottom: 5px;
}

.one h4 {
    margin-bottom: 1rem;
}

.code {
    background-color: black;
    margin-bottom: 5px;
    word-spacing: 5px;
    line-height: 1.5rem;
    padding: 10px;
    color: white;
    font-family: arial;
    border-radius: 5px;
    width: 100vh;
}

.code h2,
.one h2 {
    text-transform: uppercase;
    color: #2c3e50;
}

.sql-commands {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: lightgrey;
    margin-bottom: .5rem;
}

.sql-commands:nth-child(even) {
    color: black;
    background-color: white;
}


.code p span {
    color: #ffa500;
}

.btns {
    float: right;
    background-color: #ffa500;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    line-height: 1rem;
    padding: 5px 12px;

}

.code button:active {
    color: white;

}

.output {
    border: 2px solid skyblue;
    /*   border:1px solid blue; */
    margin-bottom: 5px;
    word-spacing: 5px;
    color: black;
    line-height: 1.5rem;
    padding: 10px;
    font-family: arial;
    border-radius: 5px;
}

.output button {
    float: right;
    background-color: #ffa500;
    cursor: poiter;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 12px;
    margin: 10px 0;
}

table {
    /*   font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.join-types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.join-types .type {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.type img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}